:root {
    --main-bg-color: #f4f4f4;
    --accent-color: color(mix(in srgb, limegreen, deeppink 50%));
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: var(--main-bg-color, #fff); 
    color: #333;
}

header, section, footer {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

section {
    background: var(--main-bg-color);
}

#new-business {
    background-color: #e0e0f0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border: 2px solid #ccc;
}

a:hover {
    color: #555;
}

h1, h2, h3 {
    margin-top: 0;
    color: darkblue;
}

section ol li {
    color: darkblue;
}

section > h4 {
    color: darkred;
}

h1 ~ h2 {
    font-size: 18px;
}

h2 + h3 {
    margin-top: 5px;
}

section.attendance {
    border: 1px solid #000;
}

section:has(> div) {
    border: 2px solid green;
}

@media (max-width: 600px) {
    section {
        background-color: var(--main-bg-color);
    }

    .flex-container {
        flex-direction: row;
    }
}

#media img, #media audio, #media video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}
